Whitelisted URLs support wildcard

### **Is your feature request related to a problem? Please describe.**

Our project has user's subdomain, every user's home page is like 'https://user1.abc.com', the whitelisted URLs do not support wildcard here, so there is no way we whitelist every user(too many and can not do it immediately after the user register)

### **Describe the solution you'd like**

we can input a Whitelisted URL with wildcard, like 'https://*.abc.com'.

### **Describe alternatives you've considered**

 - maybe there can be a feature to close the whitelisted URLs, and use our server backend RPC to verify the domain is ours.

### **Additional context**

Currently when I set a whitelisted URL like 'https://*.abc.com', it has no effect on any subdomain.


@tainguyentt can we support this feature?

We don't allow wild card url whitelists due to OAuth2 specification security.
```
The redirection endpoint URI MUST be an absolute URI as defined by
 [[RFC3986] Section 4.3](https://datatracker.ietf.org/doc/html/rfc3986#section-4.3).  The endpoint URI MAY include an
 "application/x-www-form-urlencoded" formatted (per [Appendix B](https://datatracker.ietf.org/doc/html/rfc6749#appendix-B)) query
 component ([[RFC3986] Section 3.4](https://datatracker.ietf.org/doc/html/rfc3986#section-3.4)), which MUST be retained when adding
 additional query parameters.  The endpoint URI MUST NOT include a
 fragment component.
   ```
 Here's the [link](https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2)

@chaitanyapotti Sorry, I do not think OAuth2 specification security will stop Web3Auth using wild card URL whitelists, the reason you give seems not right to me - I think this problem has nothing to do with OAuth2, and here is my reason:
1. just imaging we set 10 simple whitelists URLs for Web3Auth from dashboard.
2. I visit one of the whitelist URLs, like 'https://x.abc.com', and if everything is set up, users can log in to their wallet using Google OAuth2, right?  - that is Web3Auth's basic feature.
3. Notice that our code does not tell Web3Auth which one of the URLs is used from the 10 URLs, but Web3Auth can work to find it by itself to find the right URL to do all the OAuth2 things, right?

that's why I say the whitelists have nothing to do with OAuth2, your code can find the right URL(it's simply a domain name). The whitelists are only used to confirm whether to run Web3Auth code from the current domain, when you do the OAuth2, Web3Auth can easily find the right domain, not *.abc.com as the OAuth2 URI endpoint.